In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
list_1 = [1, 2, -3, 4.5, 'item']
print(list_1)

[1, 2, -3, 4.5, 'item']

In [7]:
series1 = pd.Series(list_1, index = ['a','b','c','d','e'])
series1

a       1
b       2
c      -3
d     4.5
e    item
dtype: object

In [9]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'])
print(series2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [11]:
s3_scalar = pd.Series(2)
print(s3_scalar)

0    2
dtype: int64

In [12]:
s3_scalar = pd.Series(2, index = [1,2,3,4,5])
print(s3_scalar)

1    2
2    2
3    2
4    2
5    2
dtype: int64

In [14]:
s5 = pd.Series([1,2,3,4,5])
s6 = pd.Series([1,2,3,4,5])
 
a = s5 + s6
a

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [15]:
min(a)

2

In [16]:
max(a)

10

In [20]:
a[a < 8]

0    2
1    4
2    6
dtype: int64

In [21]:
series2

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

In [24]:
series2.drop('e', inplace = True)
series2

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [25]:
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

In [26]:
lst = ['a', 'b', 'c']   # First creating a list
print(lst)

['a', 'b', 'c']

In [27]:
df1 = pd.DataFrame(lst)    # Creating dataframe from above list
print(df1)

   0
0  a
1  b
2  c

In [28]:
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]   
df6 = pd.DataFrame(ls_dict)
df6

   a  b    c
0  1  2  NaN
1  3  4  5.0